Source: login-webcam
Section: misc
Priority: optional
Maintainer: GenaBitu <genabitu@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/GenaBitu/login-webcam
Vcs-Browser: https://github.com/GenaBitu/login-webcam/tree/ubuntu
Vcs-Git: https://github.com/GenaBitu/login-webcam.git -b ubuntu

Package: login-webcam
Architecture: all
Depends: ${misc:Depends}, ffmpeg
Description: Take picture on failed login
 This Debian (Ubuntu) utility automatically takes pictures using your webcam
 on failed login. Pictures are taken on failed login attempts (wrong password)
 both from graphical and command-line interface.
